<div>
    <h1 mat-dialog-title>Confirm Deletion</h1>
    <div mat-dialog-content>
        <p>Are you sure you want to delete <span style="font-weight: 600;"> {{name}}</span> restaurant? This action cannot be undone.</p>
    </div>
    <div mat-dialog-actions style="float: right;">
        <button class="btn btn-primary" style="margin-right: 10px;"  (click)="onNoClick()">Cancel</button>
        <button class="btn btn-danger"  (click)="onYesClick()" cdkFocusInitial>Delete</button>
    </div>
</div>