<div class="admin_main">
    <nav class="navbar  avbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div> <a class="navbar-brand font-weight-bold pad-left-15 text-center fdNavbar"> {{title}}</a> </div>
      <span class="navbar-text admin_txt">
        Admin
      </span>
    </nav>
    <div class="container" style="padding-top: 55px;">
      <router-outlet></router-outlet>
    </div>
  <footer class="navbar-dark bg-dark text-center text-lg-start footer1">
    <div class="text-center p-3">
      © 2024 Copyright:
      <a href="">foodiedelight.com</a>
    </div>
  </footer>
</div>