.admin_main{
    background-color: rgb(255, 255, 255);
}

.pad-left-15{
    padding-left:15px ;
}
.admin_txt{
    color: aliceblue; 
    padding-right: 10px;
    float: right;
    font-size: smaller;
}
.footer1 {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
 }
 .fdNavbar{
    font-size:30px;
    text-align: center;
 }