.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hotel-menu{
    width: 500px;
    margin-top: -50px;
    padding: 20px;
  }
  .close-btn{
    float: right; 
    padding-top: 10px;
  }